<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="10 seconds">

    <contextName>logback</contextName>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- <filter class="com.example.logback.filter.MyFilter" /> -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <filter class="io.masterkun.axor.testkit.LogBackFilter"/>
        <encoder>
            <pattern>
                ts="%d{ISO8601}" level=%-5level th=%thread logger=%logger actor=%X{actor} msg="%msg"%n
            </pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="console"/>
    </root>

</configuration>
